blockquote {
  border-left: 5px solid #CCC;
  padding: 5px 10px;
  background-color: white;
  p {
    margin: 5px;
    color: #888;
  }
}

#github {
  a {
    float: left;
    margin-right: 10px;
  }
}
