blockquote {
  border-left: 5px solid #CCC;
  padding: 5px 10px;
  background-color: white;
  p {
    margin: 5px;
    color: #888;
  }
}

#github {
  a {
    float: left;
    margin-right: 10px;
  }
}

.projects {

  .section {
    width: 100%;
  }

  h1 {
    margin-bottom: 10px;
  }

  #content {
    margin: 3em auto 0 auto;
    width: 54em;
  }

  .button {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

}

.projects_index .projects.section {
  margin-top: 0px;
}

#showcase {
  margin: 0 auto;
  width: 100%;
}

#content #showcase tr {
  background: transparent;
  border-bottom: none;
}

#showcase td {

  &:nth-child(2) a {
    margin: 0 auto;
  }

  &:nth-child(3) a {
    margin-left: auto;
  }

  padding: 10px;
  a {
    display: block;
    height: 103px;
    width: 210px;
  }
}

#showcase a:hover {
  border-bottom: none;
}
