<%
@title = chapter_name
@title = '指南' if chapter_name.blank?
%>

<% wrap_layout(:layout) do %>
  <% content_for :foot do %>
    <script type="text/javascript" src="/javascripts/guides.js"></script>
  <% end %>
  <% content_for(:sidebar) do %>
    <%= index_for(data.guides, :bilingual_guides) %>
  <% end %>

  <div class="chapter">
    <%= chapter_heading %>
    <%= yield %>
    <%= chapter_links(:bilingual_guides) %>
  </div>
<% end %>
