

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - Templates</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="guides guides_templates guides_templates_links guides_templates_links_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/blog">博客</a></li>
          <li class="active"><a href="/guides">指南</a></li>
        </ul>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/guides/getting-started/core-concepts">Getting Started with Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/getting-started/core-concepts">Core Concepts</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/application">Application</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/application">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/application/the-application-template">The Application Template</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/guides/templates/handlebars-basics">Templates</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/guides/templates/handlebars-basics">Handlebars Basics</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/conditionals">Conditionals</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/displaying-a-list-of-items">Displaying a List of Items</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/changing-scope">Changing Scope</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-attributes">Binding Element Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-class-names">Binding Element Class Names</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/guides/templates/links">Links</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/actions">Actions</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/writing-helpers">Writing Helpers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/routing">Routing</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/routing">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/defining-your-routes">Defining Your Routes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-a-routes-model">Specifying a Route's Model</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/setting-up-a-controller">Setting Up a Controller</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/rendering-a-template">Rendering a Template</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/redirection">Redirecting to a Different URL</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-the-location-api">Specifying the location API</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/controllers">Controllers</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/controllers">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-a-single-model-with-objectcontroller">Representing a Single Model with ObjectController</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-multiple-models-with-arraycontroller">Representing Multiple Models with ArrayController</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/models">Models</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/models">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-a-store">Defining a Store</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-models">Defining Models</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/finding-models">Finding Models</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/modifying-attributes">Modifying Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/model-lifecycle">Model Lifecycle</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/views">Views</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/views">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/defining-a-view">Defining a View</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/handling-events">Handling Events</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/inserting-views-in-templates">Inserting Views in Templates</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/object-model/classes-and-instances">The Object Model</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/object-model/classes-and-instances">Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/enumerables">Enumerables</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/enumerables">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/configuring-ember/disabling-prototype-extensions">Configuring Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/configuring-ember/disabling-prototype-extensions">Disabling Prototype Extensions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  <div class="chapter">
    <h1>Templates</h1>
    <h2 class='anchorable-toc' id='toc_links-the-code-linkto-code-helper'>Links (The <code>{{linkTo}}</code> Helper)</h2>
<p>You create a link to a route using the <code>{{linkTo}}</code> helper.</p>
<div class="highlight js "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.Router.map(<span class="keyword">function</span>() {
  <span class="local-variable">this</span>.resource(<span class="string"><span class="delimiter">&quot;</span><span class="content">posts</span><span class="delimiter">&quot;</span></span>, <span class="keyword">function</span>(){
    <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">&quot;</span><span class="content">post</span><span class="delimiter">&quot;</span></span>, { <span class="key">path</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">/:post_id</span><span class="delimiter">&quot;</span></span> });
  });
});
</pre></td>
</tr></table>
</div><div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
</pre></td>
  <td class="code"><pre><span class="comment">&lt;!-- posts.handlebars --&gt;</span>

<span class="tag">&lt;ul&gt;</span>
<span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">each</span> <span class="attribute-name">post</span> <span class="attribute-name">in</span> <span class="attribute-name">posts</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;li&gt;</span><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">linkTo</span> <span class="attribute-name">posts.post</span> <span class="attribute-name">post</span><span class="inline-delimiter">}}</span></span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">post.title</span><span class="inline-delimiter">}}</span></span><span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">linkTo</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/li&gt;</span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">each</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/ul&gt;</span>
</pre></td>
</tr></table>
</div>
<p>If the model for the <code>posts</code> template is a list of three posts, the
rendered HTML would look something like this:</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;ul&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">/posts/1</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Infinity Madness<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">/posts/2</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Hexadecimal Weirdness<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">/posts/3</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Slashes!<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
<span class="tag">&lt;/ul&gt;</span>
</pre></td>
</tr></table>
</div>
<p>The <code>{{linkTo}}</code> helper takes:</p>

<ul>
<li>The name of a route. In this example, it would be <code>index</code>, <code>posts</code>, or
<code>post</code>.</li>
<li>If the route has a <a href="/guides/routing/defining-your-routes/#toc_dynamic-segments">dynamic segment</a>, 
a model that represents the segment. By default, Ember.js will replace the segment with the
value of the object&#39;s <code>id</code> property.</li>
<li>An optional title which will be bound to the <code>a</code> title attribute</li>
</ul>
<h3 class='anchorable-toc' id='toc_multiple-contexts'>Multiple Contexts</h3>
<p>If the route is nested, you can supply a model for each dynamic
segment.</p>
<div class="highlight js "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
</pre></td>
  <td class="code"><pre>App.Router.map(<span class="keyword">function</span>() {
  <span class="local-variable">this</span>.resource(<span class="string"><span class="delimiter">&quot;</span><span class="content">posts</span><span class="delimiter">&quot;</span></span>, <span class="keyword">function</span>(){
    <span class="local-variable">this</span>.resource(<span class="string"><span class="delimiter">&quot;</span><span class="content">post</span><span class="delimiter">&quot;</span></span>, { <span class="key">path</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">/:post_id</span><span class="delimiter">&quot;</span></span> }, <span class="keyword">function</span>(){
      <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">&quot;</span><span class="content">comments</span><span class="delimiter">&quot;</span></span>);
      <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">&quot;</span><span class="content">comment</span><span class="delimiter">&quot;</span></span>, { <span class="key">path</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">/comments/:comment_id</span><span class="delimiter">&quot;</span></span> });
    });
  });
});
</pre></td>
</tr></table>
</div>
<p>In the <code>postIndex</code> template:</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">post</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/div&gt;</span>

<span class="tag">&lt;p&gt;</span><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">linkTo</span> <span class="attribute-name">post.comment</span> <span class="attribute-name">primaryComment</span><span class="inline-delimiter">}}</span></span>Main Comment<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">linkTo</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div>
<p>Since only a single model was supplied, the link will inherit the
current post for the dynamic segment <code>:post_id</code>. The <code>primaryComment</code>
will become the new model for the <code>comment</code> route handler.</p>

<p>Alternatively, you could pass both a post and a comment to the helper:</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;p&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">linkTo</span> <span class="attribute-name">post.comment</span> <span class="attribute-name">nextPost</span> <span class="attribute-name">primaryComment</span><span class="inline-delimiter">}}</span></span>
    Main Comment for the Next Post
  <span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">linkTo</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div>
<p>In this case, the models specified will populate both the <code>:post_id</code>
and <code>:comment_id</code>. The specified <code>nextPost</code> will become the new
model for the <code>post</code> handler and the <code>primaryComment</code> will become the
new model for the <code>comment</code> handler.</p>

<p>When transitioning to a new URL, the router will only execute the
handler if:</p>

<ul>
<li>the handler became newly active, or</li>
<li>the model for the handler changes</li>
</ul>

    
      <footer>
        
        <a class="previous-guide" href="/guides/templates/binding-element-class-names">
          ← Binding Element Class Names
        </a>
       
      <a class="next-guide" href="/guides/templates/actions">
        Actions →
      </a>
      
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
      </div>
    </div>
  </body>
</html>
