

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - 视图</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="guides guides_views guides_views_inserting-views-in-templates guides_views_inserting-views-in-templates_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/blog">博客</a></li>
          <li class="active"><a href="/guides">指南</a></li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/application">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/application/the-application-template">应用模版</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/templates/handlebars-basics">模版</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/links">Links</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/actions">Actions</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/writing-helpers">Writing Helpers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/defining-your-routes">Defining Your Routes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-a-routes-model">Specifying a Route's Model</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/setting-up-a-controller">Setting Up a Controller</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/rendering-a-template">Rendering a Template</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/redirection">Redirecting</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-the-location-api">Specifying the URL Type</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/controllers">Controllers</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/controllers">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-a-single-model-with-objectcontroller">Representing a Single Model with ObjectController</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-multiple-models-with-arraycontroller">Representing Multiple Models with ArrayController</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/dependencies-between-controllers">Managing Dependencies Between Controllers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/models">Models</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/models">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-a-store">Defining a Store</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-models">Defining Models</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/finding-models">Finding Models</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/modifying-attributes">Modifying Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/model-lifecycle">Model Lifecycle</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/guides/views">视图</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/guides/views/inserting-views-in-templates">Inserting Views in Templates</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/adding-layerouts-to-views">Adding Layouts to Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/object-model/classes-and-instances">The Object Model</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/object-model/classes-and-instances">Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/enumerables">Enumerables</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/enumerables">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/configuring-ember/disabling-prototype-extensions">Configuring Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/configuring-ember/disabling-prototype-extensions">Disabling Prototype Extensions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  <div class="chapter">
    <h1>视图</h1>
    <p>英文原文：<a href="http://emberjs.com/guides/views/inserting-views-in-templates/">http://emberjs.com/guides/views/inserting-views-in-templates/</a></p>
<h2 class='anchorable-toc' id='toc_inserting-views-in-templates'>在模版中插入视图 (Inserting Views in Templates)</h2>
<p>So far, we&#39;ve discussed writing templates for a single view. However, as your application grows, you will often want to create a hierarchy of views to encapsulate different areas on the page. Each view is responsible for handling events and maintaining the properties needed to display it.</p>

<p>到目前为止，我们已经讨论了如何为单独的视图编写模板。然而，随着应用开发的深入，为了封装页面上的不同区域，你可能会经常需要创建一个层次化的视图结构。每个视图负责处理事件和维护需要显示的属性。</p>
<h3 class='anchorable-toc' id='toc_code-view-code'><code>{{view}}</code></h3>
<p>To add a child view to a parent, use the <code>{{view}}</code> helper, which takes a path to a view class.</p>

<p>为了将一个子视图添加到父视图中，可以使用<code>{{view}}</code>助手，它接受一个视图类的路径参数。</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
12
13
14
15
16
17
</pre></td>
  <td class="code"><pre><span class="comment">// Define parent view</span>
<span class="comment">// 定义父视图</span>
App.UserView = Ember.View.extend({
  <span class="key">templateName</span>: <span class="string"><span class="delimiter">'</span><span class="content">user</span><span class="delimiter">'</span></span>,

  <span class="key">firstName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Albert</span><span class="delimiter">&quot;</span></span>,
  <span class="key">lastName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Hofmann</span><span class="delimiter">&quot;</span></span>
});

<span class="comment">// Define child view</span>
<span class="comment">// 定义子视图</span>
App.InfoView = Ember.View.extend({
  <span class="key">templateName</span>: <span class="string"><span class="delimiter">'</span><span class="content">info</span><span class="delimiter">'</span></span>,

  <span class="key">posts</span>: <span class="integer">25</span>,
  <span class="key">hobbies</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Riding bicycles</span><span class="delimiter">&quot;</span></span>
});
</pre></td>
</tr></table>
</div><div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
</pre></td>
  <td class="code"><pre>User: <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.lastName</span><span class="inline-delimiter">}}</span></span>
<span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view</span> <span class="attribute-name">App.InfoView</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div><div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;b&gt;</span>Posts:<span class="tag">&lt;/b&gt;</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.posts</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;br&gt;</span>
<span class="tag">&lt;b&gt;</span>Hobbies:<span class="tag">&lt;/b&gt;</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.hobbies</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div>
<p>If we were to create an instance of <code>App.UserView</code> and render it, we would get
a DOM representation like this:</p>

<p>如果我们想要创建一个<code>App.UserView</code>的实例并渲染它，我们就会得到如下的<code>DOM</code>:</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
</pre></td>
  <td class="code"><pre>User: Albert Hofmann
<span class="tag">&lt;div&gt;</span>
  <span class="tag">&lt;b&gt;</span>Posts:<span class="tag">&lt;/b&gt;</span> 25
  <span class="tag">&lt;br&gt;</span>
  <span class="tag">&lt;b&gt;</span>Hobbies:<span class="tag">&lt;/b&gt;</span> Riding bicycles
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div><h4 class='anchorable-toc' id='toc_relative-paths'>相对路径 (Relative Paths)</h4>
<p>Instead of specifying an absolute path, you can also specify which view class
to use relative to the parent view. For example, we could nest the above view
hierarchy like this:</p>

<p>你可以使用一个子视图与其父视图之间的相对路径，而不使用绝对路径。例如，我们可以像这样嵌套上面的视图层次结构：</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
12
13
</pre></td>
  <td class="code"><pre>App.UserView = Ember.View.extend({
  <span class="key">templateName</span>: <span class="string"><span class="delimiter">'</span><span class="content">user</span><span class="delimiter">'</span></span>,

  <span class="key">firstName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Albert</span><span class="delimiter">&quot;</span></span>,
  <span class="key">lastName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Hofmann</span><span class="delimiter">&quot;</span></span>,

  <span class="key">infoView</span>: Ember.View.extend({
    <span class="key">templateName</span>: <span class="string"><span class="delimiter">'</span><span class="content">info</span><span class="delimiter">'</span></span>,

    <span class="key">posts</span>: <span class="integer">25</span>,
    <span class="key">hobbies</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Riding bicycles</span><span class="delimiter">&quot;</span></span>
  })
});
</pre></td>
</tr></table>
</div><div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
</pre></td>
  <td class="code"><pre>User: <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.lastName</span><span class="inline-delimiter">}}</span></span>
<span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view</span> <span class="attribute-name">view.infoView</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div>
<p>When nesting a view class like this, make sure to use a lowercase
letter, as Ember will interpret a property with a capital letter as a
global property.</p>

<p>当以这种形式组织视图类时，要确保属性名称首字母小写，因为<code>Ember</code>会把以大写字母开头的属性解释为全局属性。</p>
<h3 class='anchorable-toc' id='toc_setting-child-view-templates'>设置子视图模板 (Setting Child View Templates)</h3>
<p>If you&#39;d like to specify the template your child views use inline in
the main template, you can use the block form of the <code>{{view}}</code> helper.
We might rewrite the above example like this:</p>

<p>如果你想在主模板中声明子视图类所使用的模板的话，可以使用<code>{{view}}</code>助手的区块形式。我们可以将上面的例子改写如下：</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
</pre></td>
  <td class="code"><pre>App.UserView = Ember.View.extend({
  <span class="key">templateName</span>: <span class="string"><span class="delimiter">'</span><span class="content">user</span><span class="delimiter">'</span></span>,

  <span class="key">firstName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Albert</span><span class="delimiter">&quot;</span></span>,
  <span class="key">lastName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Hofmann</span><span class="delimiter">&quot;</span></span>
});

App.InfoView = Ember.View.extend({
  <span class="key">posts</span>: <span class="integer">25</span>,
  <span class="key">hobbies</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Riding bicycles</span><span class="delimiter">&quot;</span></span>
});
</pre></td>
</tr></table>
</div><div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
</pre></td>
  <td class="code"><pre>User: <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.lastName</span><span class="inline-delimiter">}}</span></span>
<span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">view</span> <span class="attribute-name">App.InfoView</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;b&gt;</span>Posts:<span class="tag">&lt;/b&gt;</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.posts</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;br&gt;</span>
  <span class="tag">&lt;b&gt;</span>Hobbies:<span class="tag">&lt;/b&gt;</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.hobbies</span><span class="inline-delimiter">}}</span></span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">view</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div>
<p>When you do this, it may be helpful to think of it as assigning views to
portions of the page. This allows you to encapsulate event handling for just
that part of the page.</p>

<p>当你这么做的时候，把它想象成视图对应着页面上的一部分，这样会更容易理解。同时，这允许你对这一部分页面的事件处理逻辑进行封装。</p>

    
      <footer>
         
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2013 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
      </div>
    </div>
  </body>
</html>
