

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - 模板</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.cn/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js CN - 博客" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="bilingual_guides bilingual_guides_templates bilingual_guides_templates_links bilingual_guides_templates_links_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/blog">博客</a></li>
          <li><a href="/guides">指南</a></li>
          <li>
            <a target="_blank" href="http://discuss.emberjs.cn">论坛</a>
          </li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/bilingual_guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/application">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/application/the-application-template">应用模板</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/bilingual_guides/templates/handlebars-basics">模板</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/bilingual_guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/bilingual_guides/templates/links">链接</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/actions">Actions</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/rendering-with-helpers">Rendering with Helpers</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/writing-helpers">Writing Helpers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/defining-your-routes">定义你的路由</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/generated-objects">Generated Objects</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/specifying-a-routes-model">指定路由的模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/setting-up-a-controller">设置控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/rendering-a-template">Rendering a Template</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/redirection">Redirecting</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/specifying-the-location-api">Specifying the URL Type</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/controllers">控制器</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/controllers">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/representing-a-single-model-with-objectcontroller">代表单一模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/representing-multiple-models-with-arraycontroller">代表多模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/dependencies-between-controllers">管理控制器间的依赖</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/models">模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/models">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/defining-a-store">创建一个存储器</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/defining-models">定义模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/finding-models">查找模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/modifying-attributes">Modifying Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/model-lifecycle">Model Lifecycle</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/views">视图</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/inserting-views-in-templates">在模板中插入视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/adding-layouts-to-views">Adding Layouts to Views</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/object-model/classes-and-instances">对象模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/object-model/classes-and-instances">类与实例</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/enumerables">Enumerables</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/enumerables">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/configuring-ember/disabling-prototype-extensions">Configuring Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/configuring-ember/disabling-prototype-extensions">Disabling Prototype Extensions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  <div class="chapter">
    <h1>模板</h1>
    <p>英文原文： <a href="http://emberjs.com/guides/templates/links/">http://emberjs.com/guides/templates/links/</a></p>
<h2 class='anchorable-toc' id='toc_links-the-code-linkto-code-helper'>Links (The <code>{{linkTo}}</code> Helper)</h2><h2 class='anchorable-toc' id='toc_code-linkto-code'>链接 (<code>{{linkTo}}</code>助手)</h2>
<p>You create a link to a route using the <code>{{linkTo}}</code> helper.</p>

<p>你可以使用如下的方式创建一个指向一个路由的链接：</p>
<div class="highlight js "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.Router.map(<span class="keyword">function</span>() {
  <span class="local-variable">this</span>.resource(<span class="string"><span class="delimiter">&quot;</span><span class="content">photos</span><span class="delimiter">&quot;</span></span>, <span class="keyword">function</span>(){
    <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">&quot;</span><span class="content">edit</span><span class="delimiter">&quot;</span></span>, { <span class="key">path</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">/:photo_id</span><span class="delimiter">&quot;</span></span> });
  });
});
</pre></td>
</tr></table>
</div><div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
</pre></td>
  <td class="code"><pre><span class="comment">&lt;!-- photos.handlebars --&gt;</span>

<span class="tag">&lt;ul&gt;</span>
<span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">each</span> <span class="attribute-name">photo</span> <span class="attribute-name">in</span> <span class="attribute-name">photos</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;li&gt;</span><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">linkTo</span> <span class="attribute-name">photos.photo</span> <span class="attribute-name">photo</span><span class="inline-delimiter">}}</span></span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">photo.title</span><span class="inline-delimiter">}}</span></span><span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">linkTo</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/li&gt;</span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">each</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/ul&gt;</span>
</pre></td>
</tr></table>
</div>
<p>If the model for the <code>photos</code> template is a list of three photos, the
rendered HTML would look something like this:</p>

<p>如果<code>photos</code>模板对应的模型拥有三张照片，那么，被渲染的HTML内容将如下所示：</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;ul&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">/photos/1</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Happy Kittens<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">/photos/2</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Puppy Running<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">/photos/3</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Mountain Landscape<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
<span class="tag">&lt;/ul&gt;</span>
</pre></td>
</tr></table>
</div>
<p>When the rendered link matches the current route, and the same object instance is passed into the helper, then the link is given <code>class=&quot;active&quot;</code>.</p>

<p>当被渲染的链接与当前路由匹配时，并且传入{{linkTo}}助手的是相同的对象实例，那么链接的class被设置为active。</p>

<p>The <code>{{linkTo}}</code> helper takes:</p>

<ul>
<li>The name of a route. In this example, it would be <code>index</code>, <code>photos</code>, or
<code>eidt</code>.</li>
<li>If the route has a <a href="/guides/routing/defining-your-routes/#toc_dynamic-segments">dynamic segment</a>, 
a model that represents the segment. By default, Ember.js will replace the segment with the
value of the object&#39;s <code>id</code> property.</li>
<li>An optional title which will be bound to the <code>a</code> title attribute</li>
</ul>

<p><code>{{linkTo}}</code>助手可以接收以下三个参数：</p>

<ul>
<li>路由名称。在上面例子中，可以是<code>index</code>, <code>photos</code>或者 <code>edit</code>。</li>
<li>如果某个路由含有
<a href="/guides/routing/defining-your-routes/#toc_dynamic-segments">动态段</a>,且有一个模型表示这个段。那么，默认情况下，<code>Ember.js</code>将会使用对象的<code>id</code>属性的值替换这个动态段。</li>
<li>此外，我们也可以提供一个链接名称绑定到<code>a</code>标签的<code>title</code>属性。</li>
</ul>
<h3 class='anchorable-toc' id='toc_multiple-contexts'>Multiple Contexts</h3><h3 class='anchorable-toc' id='toc_'>多个上下文</h3>
<p>If the route is nested, you can supply a model for each dynamic
segment.</p>

<p>如果多个路由是互相嵌套的，那么你可以为每个动态段提供一个模型，如下所示：</p>
<div class="highlight js "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
</pre></td>
  <td class="code"><pre>App.Router.map(<span class="keyword">function</span>() {
  <span class="local-variable">this</span>.resource(<span class="string"><span class="delimiter">&quot;</span><span class="content">photos</span><span class="delimiter">&quot;</span></span>, <span class="keyword">function</span>(){
    <span class="local-variable">this</span>.resource(<span class="string"><span class="delimiter">&quot;</span><span class="content">photo</span><span class="delimiter">&quot;</span></span>, { <span class="key">path</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">/:photo_id</span><span class="delimiter">&quot;</span></span> }, <span class="keyword">function</span>(){
      <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">&quot;</span><span class="content">comments</span><span class="delimiter">&quot;</span></span>);
      <span class="local-variable">this</span>.route(<span class="string"><span class="delimiter">&quot;</span><span class="content">comment</span><span class="delimiter">&quot;</span></span>, { <span class="key">path</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">/comments/:comment_id</span><span class="delimiter">&quot;</span></span> });
    });
  });
});
</pre></td>
</tr></table>
</div>
<p>In the <code>photoIndex</code> template:</p>

<p><code>photoIndex</code>模板中的内容如下：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">photo</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/div&gt;</span>

<span class="tag">&lt;p&gt;</span><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">linkTo</span> <span class="attribute-name">photo.comment</span> <span class="attribute-name">primaryComment</span><span class="inline-delimiter">}}</span></span>Main Comment<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">linkTo</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div>
<p>Since only a single model was supplied, the link will inherit the
current photo for the dynamic segment <code>:photo_id</code>. The <code>primaryComment</code>
will become the new model for the <code>comment</code> route handler.</p>

<p>因为我们只提供了一个模型，所以链接将会使用当前照片的id作为动态段<code>:photo_id</code>的值。而<code>primaryComment</code>将成为<code>comment</code>路由处理器的新模型。</p>

<p>Alternatively, you could pass both a photo and a comment to the helper:</p>

<p>此外，你还可以同时给<code>{{linkTo}}</code>助手指定一张照片和一条评论，如下所示：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;p&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">linkTo</span> <span class="attribute-name">photo.comment</span> <span class="attribute-name">nextPhoto</span> <span class="attribute-name">primaryComment</span><span class="inline-delimiter">}}</span></span>
    Main Comment for the Next Photo
  <span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">linkTo</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div>
<p>In this case, the models specified will populate both the <code>:photo_id</code>
and <code>:comment_id</code>. The specified <code>nextPhoto</code> will become the new
model for the <code>photo</code> handler and the <code>primaryComment</code> will become the
new model for the <code>comment</code> handler.</p>

<p>在这个例子中，指定的模型将同时提供<code>:photo_id</code>和<code>:comment_id</code>。指定的<code>nextPhoto</code>将称为<code>photo</code>路由处理器的新模型，同时，<code>primaryComment</code>将成为<code>comment</code>路由处理器的新模型。</p>

<p>When transitioning to a new URL, the router will only execute the
handler if:</p>

<ul>
<li>the handler became newly active, or</li>
<li>the model for the handler changes</li>
</ul>

<p>如果要链接到一个新的URL地址，在下面两种情况下，路由将只执行它的处理器：</p>

<ul>
<li>处理器最近被激活，或者</li>
<li>路由处理器的模型发生了变化</li>
</ul>

    
      <footer>
        
          <a class="previous-guide" href="/bilingual_guides/templates/binding-element-class-names">
            ← 绑定元素类名称
          </a>
         
        <a class="next-guide" href="/bilingual_guides/templates/actions">
          Actions →
        </a>
      
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2013 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
      </div>
    </div>
  </body>
</html>
