<%= partial :post_header, :locals => { :article => article } %>

<%= article.body %>

<% if show_comments %>
  <hr>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    <% if ENV['RACK_ENV'] != 'production' %>
      var disqus_developer = 1;
    <% end %>

      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'emberjs-cn'; // required

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript><a href="http://disqus.com/?ref_noscript">基于Disqus的评论需要启用Javascript</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">博客评论基于<span class="logo-disqus">Disqus</span></a>
<% end %>
