<ol id='toc-list'>
  <li class='level-1'>
    <a href="<%= tag_path '最近文章'%>">最近文章</a>
    <ol style="display:block">
      <% blog.tags['最近文章'].sort_by(&:date).reverse.each_with_index do |article, i| %>
        <li class='level-3'><%= link_to article.title, article %></li>
      <% end %>
    </ol>
  </li>
  <li class='level-1'>
    <a href="<%= tag_path 'Ember.js周报'%>">Ember.js周报</a>
    <ol style="display:block">
      <% if blog.tags['Ember.js周报'] %>
        <% blog.tags['Ember.js周报'].sort_by(&:date).reverse.each_with_index do |article, i| %>
          <li class='level-3'><%= link_to article.title, article %></li>
        <% end %>
      <% end %>
    </ol>
  </li>
</ol>
