

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - 模板</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.cn/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js CN - 博客" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="bilingual_guides bilingual_guides_templates bilingual_guides_templates_binding-element-class-names bilingual_guides_templates_binding-element-class-names_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/blog">博客</a></li>
          <li><a href="/guides">指南</a></li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/bilingual_guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/application">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/application/the-application-template">应用模板</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/bilingual_guides/templates/handlebars-basics">模板</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/bilingual_guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/bilingual_guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/links">Links</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/actions">Actions</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/writing-helpers">Writing Helpers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/defining-your-routes">定义你的路由</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/generated-objects">Generated Objects</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/specifying-a-routes-model">Specifying a Route's Model</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/setting-up-a-controller">设置控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/rendering-a-template">Rendering a Template</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/redirection">Redirecting</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/specifying-the-location-api">Specifying the URL Type</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/controllers">控制器</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/controllers">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/representing-a-single-model-with-objectcontroller">代表单一模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/representing-multiple-models-with-arraycontroller">代表多模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/dependencies-between-controllers">管理控制器间的依赖</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/models">Models</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/models">Introduction</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/defining-a-store">Defining a Store</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/defining-models">Defining Models</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/finding-models">Finding Models</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/modifying-attributes">Modifying Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/model-lifecycle">Model Lifecycle</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/views">视图</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/inserting-views-in-templates">在模板中插入视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/adding-layouts-to-views">Adding Layouts to Views</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/object-model/classes-and-instances">对象模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/object-model/classes-and-instances">类与实例</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/enumerables">Enumerables</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/enumerables">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/configuring-ember/disabling-prototype-extensions">Configuring Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/configuring-ember/disabling-prototype-extensions">Disabling Prototype Extensions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  <div class="chapter">
    <h1>模板</h1>
    <p>英文原文:<a href="http://emberjs.com/guides/templates/binding-element-class-names/">http://emberjs.com/guides/templates/binding-element-class-names/</a></p>
<h2 class='anchorable-toc' id='toc_binding-element-class-names'>绑定元素类名称 （Binding Element Class Names)</h2>
<p>An HTML element&#39;s <code>class</code> attribute can be bound like any other
attribute:</p>

<p>像其他所有属性一样，HTML元素的<code>class</code>属性也可以被绑定，如下所示：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">priority</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>If the controller&#39;s <code>priority</code> property is <code>&quot;p4&quot;</code>, this template will emit the following HTML:</p>

<p>如果控制器的<code>priority</code>属性的值是<code>&quot;p4&quot;</code>,上面的模板将生成如下的HTML：</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">p4</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div><h3 class='anchorable-toc' id='toc_binding-to-boolean-values'>绑定布尔值 （Binding to Boolean Values)</h3>
<p>If the value to which you bind is a Boolean, Ember.js will apply the
dasherized version of the property name as a class:</p>

<p>如果你要绑定的值是布尔类型,<code>Ember.js</code>会将属性名称用中划线连接来作为类的名称：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">isUrgent</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>If <code>isUrgent</code> is true, this emits the following HTML:</p>

<p>如果<code>isUrgent</code>的值为真，上面的模板就会生成下面的HTML:</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">is-urgent</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>If <code>isUrgent</code> is false, no class name is added:</p>

<p>否则，如果<code>isUrgent</code>是假,就不会添加类：</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>If you want to explicitly provide a class name (instead of Ember.js
dasherizing the property name), use the following syntax:</p>

<p>如果你想要显示的提供一个类的名称(而不使用<code>Ember.js</code>自动生成的中划线形式)，那么，你可以使用下面的语法：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">isUrgent:urgent</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>Instead of the dasherized name, this will produce:</p>

<p>这样就不会产生中划线形式的名称，取而代之的将产生如下的名称：</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">urgent</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>You can also specify a class name to add when the property is <code>false</code>:</p>

<p>你也可以像下面这样显示的指定当一个属性为<code>false</code>时要添加的类的名称：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">isEnabled:enabled:disabled</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>In this case, if the <code>isEnabled</code> property is <code>true</code>, the <code>enabled</code>
class will be added. If the property is <code>false</code>, the class <code>disabled</code>
will be added.</p>

<p>在上面例子中,如果<code>isEnabled</code>属性的值是<code>true</code>,就会添加<code>enabled</code>类。否则，如果属性值为<code>false</code>,就会添加<code>disabled</code>类。</p>

<p>This syntax can also be used to add a class if a property is <code>false</code>
and remove it if the property is <code>true</code>, so this:</p>

<p>这种语法也可以用来在属性值为<code>false</code>时添加一个类,而在属性值为<code>true</code>时移除它，所以下面的例子：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">isEnabled::disabled</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>Will add the class <code>disabled</code> when <code>isEnabled</code> is <code>false</code> and add no
class if <code>isEnabled</code> is <code>true</code>.</p>

<p>将会在<code>isEnabled</code>是<code>false</code>时添加<code>disabled</code>类，而在<code>isEnabled</code>为<code>true</code>时不添加类。</p>
<h3 class='anchorable-toc' id='toc_static-classes'>静态类 (Static Classes)</h3>
<p>If you need an element to have a combination of static and bound
classes, you should include the static class in the list of bound
properties, prefixed by a colon:</p>

<p>如果你想要一个混合了静态类和绑定类的元素,你需要将静态类包含在绑定属性列表中,以<code>:</code>为前缀：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">:high-priority isUrgent</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>This will add the literal <code>high-priority</code> class to the element:</p>

<p>这会直接把<code>high-priority</code>类加到元素中去：</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">high-priority is-urgent</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>Bound class names and static class names cannot be combined. The
following example <strong>will not work</strong>:</p>

<p>绑定类名称和静态类名称不能混合在一起。下面的例子<strong>就不会起什么作用</strong>：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">high-priority</span><span class="delimiter">&quot;</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">isUrgent</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div><h3 class='anchorable-toc' id='toc_binding-multiple-classes'>绑定多个类 （Binding Multiple Classes)</h3>
<p>Unlike other element attributes, you can bind multiple classes:</p>

<p>与其他元素属性不同的是，你可以绑定多个类：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">bindAttr</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">isUrgent priority</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
<p>This works how you would expect, applying the rules described above in
order:</p>

<p><code>Ember.js</code>将依次对每个类执行上述准则，从而达到你所想要的效果：</p>
<div class="highlight html "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">is-urgent p4</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  Warning!
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div>
    
      <footer>
        
          <a class="previous-guide" href="/bilingual_guides/templates/binding-element-attributes">
            ← 绑定元素属性
          </a>
         
        <a class="next-guide" href="/bilingual_guides/templates/links">
          Links →
        </a>
      
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2013 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
      </div>
    </div>
  </body>
</html>
