

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - 视图</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.cn/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js CN - 博客" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="guides guides_views guides_views_handling-events guides_views_handling-events_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/blog">博客</a></li>
          <li class="active"><a href="/guides">指南</a></li>
          <li>
            <a target="_blank" href="http://discuss.emberjs.cn">论坛</a>
          </li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/application">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/application/the-application-template">应用模板</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/templates/handlebars-basics">模板</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/links">链接</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/actions">Actions</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/writing-helpers">Writing Helpers</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/defining-your-routes">定义你的路由</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/generated-objects">Generated Objects</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-a-routes-model">Specifying a Route's Model</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/setting-up-a-controller">设置控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/rendering-a-template">Rendering a Template</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/redirection">Redirecting</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-the-location-api">Specifying the URL Type</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/controllers">控制器</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/controllers">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-a-single-model-with-objectcontroller">代表单一模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-multiple-models-with-arraycontroller">代表多模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/dependencies-between-controllers">管理控制器间的依赖</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/models">模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/models">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-a-store">创建一个存储器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-models">定义模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/finding-models">查找模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/modifying-attributes">Modifying Attributes</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/model-lifecycle">Model Lifecycle</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/guides/views">视图</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/inserting-views-in-templates">在模板中插入视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/adding-layouts-to-views">Adding Layouts to Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/object-model/classes-and-instances">对象模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/object-model/classes-and-instances">类与实例</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/enumerables">Enumerables</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/enumerables">Introduction</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/configuring-ember/disabling-prototype-extensions">Configuring Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/configuring-ember/disabling-prototype-extensions">Disabling Prototype Extensions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  <div class="chapter">
    <h1>视图</h1>
    <p>英文原文：<a href="http://emberjs.com/guides/views/handling-a-view/">http://emberjs.com/guides/views/handling-a-view/</a></p>
<h2 class='anchorable-toc' id='toc_'>处理事件</h2>
<p>你只需简单地将想要响应事件的名字作为你的视图的方法名实现即可，而不必为响应的每个元素上注册事件监听器。</p>

<p>例如，假设我们有这样一个模板：</p>
<div class="highlight handlebars "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
</pre></td>
  <td class="code"><pre><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">view</span> <span class="attribute-name">App.ClickableView</span><span class="inline-delimiter">}}</span></span>
This is a clickable area!
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">view</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div>
<p>我们这样实现<code>App.ClickableView</code>使之每当被点击，会显示一个警告框：</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.ClickableView = Ember.View.extend({
  <span class="function">click</span>: <span class="keyword">function</span>(evt) {
    alert(<span class="string"><span class="delimiter">&quot;</span><span class="content">ClickableView was clicked!</span><span class="delimiter">&quot;</span></span>);
  }
});
</pre></td>
</tr></table>
</div>
<p>事件从目标视图向父级视图逐层地冒泡直至根视图。这些值是只读的。如果你想用<code>JavaScript</code>手动管理视图（而不是通过使用<code>Handlebars</code>的<code>{{view}}</code>助手来创建它们），请查看下文<code>Ember.ContainerView</code>的说明文档。</p>
<h3 class='anchorable-toc' id='toc_'>发送事件</h3>
<p>为了让产生自<code>App.ClickableView</code>的事件对你的应用起到作用，很简单，向视图的控制器发送一个事件：</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.ClickableView = Ember.View.extend({
  <span class="function">click</span>: <span class="keyword">function</span>(evt) {
    <span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">'</span><span class="content">controller</span><span class="delimiter">'</span></span>).send(<span class="string"><span class="delimiter">'</span><span class="content">turnItUp</span><span class="delimiter">'</span></span>, <span class="integer">11</span>); 
  }
});
</pre></td>
</tr></table>
</div>
<p>如果控制器有一个叫<code>turnInUp</code>的方法，它将会被调用：</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.PlaybackController = Ember.ObjectController.extend({
  <span class="function">turnItUp</span>: <span class="keyword">function</span>(level){
    <span class="comment">//Do your thing</span>
  }
});
</pre></td>
</tr></table>
</div>
<p>如果没有，这条信息将会传到当前路由：</p>
<div class="highlight javascript "><div class="ribbon"></div><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
</pre></td>
  <td class="code"><pre>App.PlaybackRoute = Ember.Route.extend({
  <span class="key">events</span>: {
    <span class="function">turnItUp</span>: <span class="keyword">function</span>(level){
      <span class="comment">//This won't be called if it's defined on App.PlaybackController</span>
    }
  }
});
</pre></td>
</tr></table>
</div>
    
      <footer>
        
          <a class="previous-guide" href="/guides/views/defining-a-view">
            ← 定义视图
          </a>
         
        <a class="next-guide" href="/guides/views/inserting-views-in-templates">
          在模板中插入视图 →
        </a>
      
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2013 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
      </div>
    </div>
  </body>
</html>
